body {
    margin: 0px;
}

header {
    background-color: #DDDDDD;
    padding: 18px;
    margin: 0;
}

header ul {
    padding: 0px;
    margin: 0px;
}

header li {
    display: inline;
    padding: 0px;
    background-color: #DDDDDD;
    width: 150px;
    font-family: verdana, futura;
    font-weight: lighter;
    text-align: center;
    padding: 21px 15px 19px 15px;
}

a:link, li a:visited {
    text-decoration: none;
    color: #666666;
    font: georgia, times;
    font-weight: bold;
    font-size: 1.2em;
    padding: 21px 15px 19px 15px;
}

header li a:hover {
    background-color: orange;
}