*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #EEE
}

p {
    font-family: helvetica;
    text-align: center;
    padding: 15px;
}

header {
    background-color: #DDDDDD;
    padding: 0px;
    margin: 0;
}

header ul {
    padding: 0px;
    margin: 0px;
    display: flex;
}

header li {
    display: inline;
    padding: 0px;
    width: 150px;
    font-family: verdana, futura;
    font-weight: lighter;
    text-align: center;
    padding: 21px 15px 19px 15px;
/*    float: left;*/
}

a:link, li a:visited {
    text-decoration: none;
    color: #666666;
    font: georgia, times;
    font-weight: bold;
    font-size: 1.2em;
    padding: 21px 15px 19px 15px;
}

header li a:hover {
    color: #F0F0F0;
}

.profile-pic {
/*    float: right;*/
    padding-top: 0px;
    padding-bottom: 0px;
}

.profile-pic img {
/*
    margin: 0px;
    padding: 0px;
*/
    margin: auto;
    margin-top: 7px;
    display: block;
    border-radius: 24px;
}

.app-description {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    background-color: #DDDDDD;
    border-radius: 25px;
}

.app-description h2 {
    font-family: helvetica, verdana, futura;
    margin: auto;
    text-align: center;
    margin: 20px;
    margin-top: 20px;
}

.app-description img {
    display: block;
    margin: 0 auto;
}