// Custom styles in addition to the existing theme

.warning-box {
  background-color: #fdff0055;
  padding: 10px;
  border: solid #424242;
  border-radius: 10px;
}

.book-link a {
  color: inherit;
  text-decoration: inherit;
}

.book-link a:hover {
  color: inherit;
}

h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
